.menu_active {
  color: rgb(223, 158, 84);
  font-weight: bolder;
  border-bottom: 1px solid rgb(165, 76, 213);
}
.nav-item {
  margin: 0 5px;
}

.nav-NavLink {
  text-decoration: none;
}

.navbar-brand {
  font-weight: bolder;
  font-size: 2rem;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.btn_contact {
  color: #0dcaf0;
  background: white;
  width: 130px;
  border-radius: 30px;
}

.btn_contact:hover {
  color: white;
  background: #0dcaf0;
}

.header.bouncing_img {
  animation: bounce 2s ease-in-out infinite alternate-reverse both;
  /* transform: translateY(-2rem); */
}

@-webkit-keyframes bounce {
  0% {
    transform: translateY(-2rem);
  }
  100% {
    transform: translateY(1rem);
  }
}
